DJANGO_PORT=8000
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
OTSERVER_SECRETS_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database defaults (SQLite for local dev)
DJANGO_DB_ENGINE=django.db.backends.sqlite3
DJANGO_DB_NAME=db.sqlite3
DJANGO_DB_USER=
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=
DJANGO_DB_PORT=

# E-mail backend
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
